.phrase {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.drop {
    background: rgba(204, 204, 204, 0.25);
    border-radius: 10px;
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}