.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 64px;
    align-items: center;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.logo {
    width: 64px;
    height: 64px;
}